@page
@model BonusPointManager.Pages.Flights.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].FlightNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].DepartureTimeLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].DepartureAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].ArrivalAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].ArrivalTimeLocal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Flight) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTimeLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureAirport.IataCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalAirport.IataCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTimeLocal)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
