@page
@model BonusPointManager.Pages.Eurobonus.Accounts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EurobonusAccount[0].AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EurobonusAccount[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EurobonusAccount[0].SignupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EurobonusAccount[0].StatusLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EurobonusAccount) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignupDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusLevel)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
